NEXT_PUBLIC_SUPABASE_URL=your url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your key

VERCEL_OIDC_TOKEN=your token

RESEND_API_KEY=your resend api key
RESEND_FROM_EMAIL=Resume Builder <onboarding@resend.dev>